
	
		<div class="jumbotron">
			<p class="lead">D3...Data Visualization Made Possible...</p>
		</div><!--jumbotron-->
			<h2>Projects</h2>
			<div class="row">
			  
			  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
			    <div class="hovereffect">
			        <img class"img-responsive test" src="images/oecd.jpg" alt="D3" width="293" height="250">
			        <div class="overlay">
			           <h2>Renewable Energy</h2>
			           <a class="info"  href="renewable.html">View</a>
			        </div>
			    </div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 overflow">
			    <div class="hovereffect background" >
			        <div class="overlay">
			           <h2>Renewable Energy</h2>
			           <a class="info" href="renewable.html" target="_blank">View</a>
			        </div>
			    </div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<div class="well project ">
						<div class="row well-header">
							<h3 style="display:inline-block">Renewable Energy</h3> 
							<div class="code">
							<!-- <span> <a href="https://github.com/jkeohan/d3dashboards" target="_blank" class="btn btn-success" role="button">GitHub</a></span> -->
							<span> <a href="http://bl.ocks.org/jkeohan/raw/974c071a5d4d0185a846/" target="_blank" class="btn btn-success" role="button">Blocks</a></span>
							</div><!--code-->
						</div>			
						<br>
						<a href="renewable.html" target="_blank"><img class"img-responsive" src="images/oecd.jpg" alt="D3" style="width:100%"></a>
						<div class="extrainfo">extra info</div>
					</div>
				</div>

		  </div><!--row-->





