.container, .row {
	/*border: 1px solid black;*/
}

#map {
	/*width:500px;*/
	height:300px;
}

.col1, .col2{
	text-align: center !important;
}

.middle {
		text-align: center;
}

.code {
	    padding: 10px;
    background-color: #F2F1F1;
}

.country {
  stroke: #000;
  /*stroke-linejoin: round;*/
}

.country:hover {
   stroke: #fff;
   fill:lightblue;
   stroke-width: 2px;
 }

 #section1map svg {
 	margin-top:20px;
 }

 a.tributary {
 	    margin-top: 25px;
    display: inline-block;
    font-weight: bold;
    font-size: 24px
 }

 a.supLink {
 	display:inline-block;
 	margin-top:10px;
 }

 blockquote {
 	font-size: 14px
 }

#circles {
  height: 100;
}

.circlesdemo9{
  box-shadow: 0 0 0 4px rgba(255,255,255,0.3),0 0 0 1px #000;
}


/* .land {
  fill: #6FC480;
  stroke: #000000;
}*/

/*circle {
  fill: #ffffff;
  stroke: #CC0A48;
  fill-opacity: 0.2
}*/

.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
  stroke-width: .5px;
}
